resources:
- type: spanner.v1.instance
  name: fabulalog-{{ properties["env"] }}
  properties:
    instanceId: fabulalog-{{ properties["env"]  }}
    parent: projects/{{ env["project"] }}
    instance:
      displayName: fabulalog Spanner
      config: projects/{{ env["project"] }}/instanceConfigs/{{ properties["instanceConfig"] }}
      nodeCount: {{ properties["nodeCount"] }}
