resources:
- type: spanner.v1.instance
  name: fabula
  properties:
    instanceId: fabula-spanner-instance
    parent: projects/{{ env["project"] }}
    instance:
      displayName: Fabula Spanner Instance
      config: projects/{{ env["project"] }}/instanceConfigs/{{ properties["instanceConfig"] }}
      nodeCount: {{ properties["nodeCount"] }}
